
# Created by https://www.gitignore.io/api/maven

.idea/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Vaadin ###
**/VAADIN/widgetsets/
**/VAADIN/themes/**/*.scss.cache
node/
node_modules/

twitter-widgets-addon/package.json
twitter-widgets-addon/package-lock.json
twitter-widgets-addon/pnpm-lock.yaml
twitter-widgets-addon/pnpmfile.js
twitter-widgets-addon/tsconfig.json
twitter-widgets-addon/types.d.ts
twitter-widgets-addon/webpack.*.js
twitter-widgets-addon/vite.*.ts
twitter-widgets-addon/frontend/

demos/**/package.json
demos/**/package-lock.json
demos/**/pnpm-lock.yaml
demos/**/pnpmfile.js
demos/**/tsconfig.json
demos/**/types.d.ts
demos/**/webpack.*.js
demos/**/vite.*.ts
demos/**/frontend/

