@import "../valo/valo.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include valo theme styles in your theme
	@include valo;

    .centered-caption {
        text-align: center;
    }
    .v-tabsheet-content-tw-demo-tab {
        margin: 10px;
    }
    .tw-widget {
        width: 300px;
        margin: 0 20px 20px 20px;
    }
}
